body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #2f2f2f;
}
h1 {
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px 0;
}
.MainTable {
    border-collapse: separate;
    border-spacing: 0;
    border: 3px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    height: 50px;
    color: white; 
    text-align: center;
    vertical-align: middle;
    font-family: Microsoft YaHei, serif;
}
th {
    border: 1px solid white;
    background-color: black;
}
tr:nth-child(odd) { /* 奇数行 */
    background-color: #171e2d;
}

tr:nth-child(even) { /* 偶数行 */
    background-color: #1c2334; /* 深灰色 */
}

.status-delay {
    color: orange;
}
.status-normal {
    color: #4ae979;
}
.status-finished {
    color: white;
}

input[type="text"],
input[type="number"],
select
{
    color: white;
    width: 70%;
    height: 70%;
    background-color: #2f2f2f;
    font-family: Microsoft YaHei, serif;
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
}

input[type="submit"] {
    color: white;
    width: 70%;
    height: 70%;
    background-color: #2f2f2f;
    font-family: Microsoft YaHei, serif;
    border-radius: 5px;
    border: 1px solid white;
}

input[type="submit"]:hover {
    background-color: black;
}

input[type="submit"]:active,
input[type="text"]:active,
input[type="number"]:active
{
    color: rgb(128, 128, 128);
}
